
/* Root Variables  */
:root {
    --primary: #4e54c8;
    --primary-light: #6a71e5;
    --secondary: #ff7e5f;
    --dark: #2c3e50;
    --light: #f9f9f9;
    --gray: #ecf0f1;
    --success: #ecc71;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --boder-radius: 12px;
    transition: all 0.3s ease;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
